.DS_Store
*~
*.exe
!build/**/mtee.exe
*.zip
build/buildlog*
build/**/*.log
buildOutput*/
release/
.project
.settings/
.idea/
.gitignore
/runtime3d_plugin
node_modules
/lib
/tests/log.json
/tests/report.xml
/tests/lcov.info
/tests/html-report
/tests/support/lib
/tests/support/scripts/selenium.jar
/grunt.properties
/grunt-config.json
/.eslintcache
*.iml
npm-debug.log
.vscode/
/.jshintignore
/.eslintignore
