<div class="container-fluid about-page" ng-controller="about-Controller">
    <div class="about-page-title-container">
        <img src="/images/face-nb-tech.png" class="about-page-pic">
        <p class="about-page-title">"Hi, I am MohanRaj Balumuri"</p>
        <div class="about-page-social">
            <a href="https://www.facebook.com/balumuri.raj" target="_blank"><span class="icon-facebook"></span></a>
            <a href="https://twitter.com/balumuriraj" target="_blank"><span class="icon-twitter"></span></a>
            <a href="https://plus.google.com/+BalumuriMohanRaj" target="_blank"><span class="icon-google"></span></a>
            <a href="https://github.com/balumuriraj" target="_blank"><span class="icon-github"></span></a>
            <a href="https://www.linkedin.com/pub/mohanraj-balumuri/82/83a/319/" target="_blank"><span class="icon-linkedin2"></span></a>
        </div>
        <p class="about-page-content hidden-xs">
            I am a Graduate Student, pursuing masters in computer science at <a href="" target="_blank" class="asu">Arizona State University</a> with four years of work experience in cloud computing and web application development. Creativity merged with technical skills is my greatest strength.
        </p>
    </div>
</div>
<div class="timeline-title">
    <p>My Stats</p>
</div>
<div class="container-fluid about-page" ng-controller="about-Controller">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails = ! showDetails">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails">Age</p>
                    <p ng-show="showDetails">25 <span>years</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails1 = ! showDetails1">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails1">GPA <span>undergrad</span></p>
                    <p ng-show="showDetails1">8.85<span>/10</span> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails2 = ! showDetails2">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails2">GPA <span>Grad</span></p>
                    <p ng-show="showDetails2">3.81<span>/4</span> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails3 = ! showDetails3">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails3">Country</p>
                    <p ng-show="showDetails3">India</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails4 = ! showDetails4">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails4">Living <span>in</span></p>
                    <p ng-show="showDetails4">Arizona <span>USA</span> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-click="showDetails5 = ! showDetails5">
            <div class="stats-block">
                <div class="stats-innerblock">
                    <p ng-hide="showDetails5">Work <span>Exp</span></p>
                    <p ng-show="showDetails5">4 <span>years</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="timeline-title hidden-xs">
    <p>My Story</p>
</div>
<div class="container-fluid about-page-body-container hidden-xs">

    <div class="timeline-bar"></div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: right;">
                1989
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-gift"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: left;">
                I was born in India
            </div>
        </div>
    </div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: right;">
                Graduated from Bhashyam High School, India
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-book"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: left;">
                2004
            </div>
        </div>
    </div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: right;">
                2006
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-books"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: left;">
                Graduated from Narayan Junior College, India
            </div>
        </div>
    </div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: right;">
                Graduated from Andhra University, India
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-graduation"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: left;">
                2010
            </div>
        </div>
    </div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: right;">
                2013
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-tie"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: left;">
                Completed 2.5 years in Mindtree, India
            </div>
        </div>
    </div>
    <div class="row timeline-block">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-content" style="float: right;">
                Graduated from Arizona State University, USA
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="timeline-icon" style="text-align: center;">
                <span class="icon-rocket3"></span>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="timeline-year" style="float: left;">
                2015
            </div>
        </div>
    </div>
</div>
<div class="timeline-title hidden-xs">
    <p>My Skills</p>
</div>
<div class="container-fluid about-page hidden-xs" ng-controller="about-Controller"  style="padding: 2em;">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Java</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">spring</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">C#</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">C++</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">C</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">php</div></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">HTML5</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">CSS3</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Javascript</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">NodeJS</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Express</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Angular</div></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">MongoDB</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">MySql</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Hibernate</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Matlab</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">CS6</div></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><div class="skills-block">Cinema4D</div></div>
    </div>
</div>
<footer class="about-footer">
    <p>Website created by MohanRaj Balumuri</p>
    <p><span class="icon-mail6"></span> mbalumur@asu.edu</p>
    <br>
    <p class="hidden-xs" style="padding: 1em; background: #fff; color: #f06060;">Built with NodeJS, Express, AngularJS, MongoDB, HTML5, CSS3 and Javascript</p>
</footer>
<script type="text/javascript">
    var d = document.getElementById("header");
    d.className = d.className + " header-shadow";
</script>