<br>
<div ng-controller="multimediaItem-Controller">
    <!-- lightbox container hidden with CSS -->
    <div  class="lightbox" id="lightbox">
        <button onclick="hidelightbox()"><span class="icon-x"></span> Close</button>
        <br>
        <div ng-show="item.type == 'pic'"><img ng-src="{{item.img}}"  id="lightbox-img"></div>
        <div ng-show="item.type == 'video'"  class='youtube-container'>
            <iframe src="{{item.url}}" frameborder="0" allowfullscreen></iframe >
        </div>
    </div>
    <div class="wrap">
        <div class="container-fluid">
            <div class="item-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="crop">
                            <a href="" onclick="showlightbox()"><img ng-src="{{item.img}}" alt="text"></a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="item-content">
                            <p class="item-title">{{item.name}}</p>
                            <p class="item-type">{{item.type}}</p>
                            <p class="item-year">created in {{item.created}}</p>
                            <hr>
                            <ul class="item-ibox-div">
                                <li ng-repeat="tag in item.tags">
                                    <span style="background: {{tag.background}};">{{tag.text}}</span>
                                </li>
                            </ul>
                            <hr>
                            <div class="item-button-section">
                                <button class="bttn" id="coolcount" ng-click="incrementcool(item._id);"><span class="icon-star2"></span> cool</button>
                                <button class="bttn" id="share" onclick="$('.item-share').toggle();"><span class="icon-paperplane2"></span> share</button>
                                <div class="item-share-section">
                                    <ul class="item-share">
                                        <li><a href="#"><span class="icon-facebook"></span></a>
                                        </li>
                                        <li><a href="#"><span class="icon-twitter"></span></a>
                                        </li>
                                        <li><a href="#"><span class="icon-googleplus"></span></a>
                                        </li>
                                        <li><a href="#"><span class="icon-pinterest"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <p class="item-description">{{item.description}}</p>
                            <br>
                            <button class="bttn"><span class="icon-download5"></span> Download Project</button>
                            <br>
                            <p class="item-box-views">{{item.cools}} <span class="hidden-xs">cools</span> | {{item.views}} <span class="hidden-xs">views</span></p>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>

    <div style="background:#ddd;">
        <div class="wrap">

            <div class="container-fluid" ng-controller="multimedia-Controller">
                <br>

                <h1><strong>Similar items</strong></h1>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="page-gallery">
                            <li ng-repeat="media in multimedia.results | filter:searchText | orderBy:'cools'">
                                <a href="#/multimedia/{{media._id}}" style="text-decoration: none;">
                                    <div class="box-img">
                                        <img ng-src="{{media.img}}" alt="{{media.description}}">
                                        <div class="box-hover"><span class="icon-search2"></span></div>
                                    </div>
                                    <div class="box-main">
                                        <p class="box-title">{{media.name}}</p>
                                        <div class="ibox-div">
                                    <span ng-repeat="tag in media.tags">
                                        <p class="ibox-small" style="background: {{tag.background}};">{{tag.text}}</p>
                                    </span>
                                            <p class="box-views">{{media.cools}} <span>cools</span> | {{media.views}} <span>views</span></p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var d = document.getElementById("header");
    d.className = d.className + " header-shadow";

    function showlightbox(){
        var img = $("#lightbox-img");
        var lightbox = $("#lightbox");

        lightbox.css({
            'visibility': 'visible'
        });

        img.css({
            '-webkit-transform': 'scale(1)',
            '-moz-transform': 'scale(1)',
            '-o-transform': 'scale(1)',
            'transform': 'scale(1)',
            'opacity': '1'
        });
    }

    function hidelightbox(){
        var img = $("#lightbox-img");
        var lightbox = $("#lightbox");

        lightbox.css({
            'visibility': 'hidden'
        });

        img.css({
            '-webkit-transform': 'scale(0)',
            '-moz-transform': 'scale(0)',
            '-o-transform': 'scale(0)',
            'transform': 'scale(0)',
            'opacity': '0'
        });
    }
</script>