@media screen and (max-width: 1440px) {
    body{
        font-size: 100%;
    }
    .page-gallery li {
        width: 33.33%;
    }
}
@media screen and (max-width: 1366px) {
    body{
        font-size: 90%;
    }
    .page-gallery li {
        width: 33.33%;
    }
}
@media screen and (max-width: 1136px) {
    body{
        font-size: 80%;
    }
    .page-gallery li {
        width: 33.33%;
    }
}
/* iPads (portrait and landscape) ----------- */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    body{
        font-size: 75%;
    }
    .page-gallery li {
        width: 50%;
    }
}
/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        font-size: 75%;
    }
    .page-gallery li {
        width: 50%;
    }
}
/* iPads (portrait) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body{
        font-size: 75%;
    }
    .page-gallery li {
        width: 50%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    body{
        font-size: 75%;
    }
    .page-gallery li {
        width: 50%;
    }
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body{
        font-size: 70%;
    }
    .page-gallery li {
        width: 100%;
    }
}
/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    body{
        font-size: 70%;
    }
    .welcome-title{
        font-size: 5em;
    }

    .about-container{
        text-align: left;
    }
    .about-title{
        font-size: 3em;
        font-weight: 100;
    }
    .about-title span{
        border-bottom: 1px solid #f06060;
    }
    .about-content span{
        border-bottom: 1px dashed #47a3da;
    }
    .page-gallery li {
        width: 100%;
    }
}
/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    body{
        font-size: 70%;
    }
    .page-gallery li {
        width: 100%;
    }
}